.featured-bottom {
  #bckg:first-child {
      background: repeating-linear-gradient( -45deg, #dbdbdb, #ffffff 1px, #ffffff 1px, #dbdbdb 5px );
  }
}
@use "sass:map";
#block-views-block-projects2-block-1 {
  padding-bottom: 108px;
  @include line();
  .content {
    max-width: 1280px;
    margin: 0 auto;
  }
  li[role=presentation] {
    display: none;
  }
  #line {
    margin-top: -35px;
  }
  .views-col > div {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: 290px;
    $colors: (9: #1bbc9b, 10: #9b58b5, 11: #e84c3d, 12: #49b6e5);
    @for $i from 9 to 13 {
      &:nth-child(3) {
        a[href="/taxonomy/term/#{$i}"] {
          color: #{map-get($colors, $i)};
        }
      }
    }
    &:nth-child(1) {
      padding-bottom: 1rem;
    }
    &:nth-child(2) {
      font-size: 1.6rem;
    }
    &:nth-child(3) {
      padding-bottom: 17px;
    }
    &:nth-child(4) {
      padding-bottom: 9px;
      border-bottom: 1px solid black;
    }
  }
  h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: -2px;
    font-kerning: none;
    font-weight: lighter;
    margin-bottom: 5.3rem;
  }
  .views-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .view-content + nav {
    width: min-content;
    margin: 45px auto;
    a {
      color: #646464;
    }
    span {
      color: #646464;
    }
    .page-link {
      background-color: unset;
      border: unset;
    }
    .active {
      border-radius: 100%;
      background: #dddcdd;
      .page-link {
        color: #191818;
      }
    }
  }
  @include button(project-link, 75px, 30px, black, #ffffff);
}
@include line-responsive(#block-views-block-projects2-block-1);
@media (max-width: 630px) {
  #block-views-block-projects2-block-1 {
    .views-col {
      width: 100%;
    }
  }
}
