#main-wrapper {
  margin-bottom: 35px;
}
#block-views-block-services-block-1 {
  margin-bottom: 123px;
  .content {
    max-width: 1280px;
    margin: 0 auto;
  }
  img {
    height: 117px;
  }
  @include line();
  .views-col > div {
    display: flex;
    justify-content: center;
    text-align: center;
    &:nth-child(1) {
      margin-bottom: 16px;
    }
    &:nth-child(2) {
      font-size: 21px;
      font-style: normal;
      margin-bottom: 10px;
    }
    &:nth-child(3) {
      p {
        font-size: 12px;
        letter-spacing: 0.06em;
        line-height: 1rem;
        color: #cccccc;
        font-style: normal;
        text-transform: uppercase;
        margin-bottom: 24px;
      }
    }
  }
  @include button(services-button, 100px, 30px, #6e9bca, white);
}
@media (max-width: 1199px) {
  @for $i from 1 to 4 {
    .views-col:nth-child(#{$i}) {
      margin-bottom: 60px;
    }
  }
  #block-views-block-services-block-1 {
    .views-col > div {
      &:nth-child(3) {
        p {
          padding: 0 70px;
        }
      }
    }
  }
}
@include line-responsive(#block-views-block-services-block-1);
