@include wrap(2);
#block-views-block-our-team-block-1 {
  @include line();
  margin-bottom: 14.3rem;
  .content {
    max-width: 1280px;
    margin: 0 auto;
  }
  h2 {
    width: 140px;
    margin: -1.25rem auto 2rem auto;
    text-align: center;
  }
  #line {
    padding-top: 109px;
  }
  .views-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .views-col > div {
    &:nth-child(1) {
      padding-bottom: 14px;
    }
    &:nth-child(2) {
      font-size: 26px;
    }
    &:nth-child(3) {
      font-size: 13px;
      margin-top: -6px;
      padding-bottom: 14px;
      a {
        color: #a4a2a2;
      }
    }
    &:nth-child(5) {
      font-size: 29px;
      position: relative;
      left: -54px;
      top: 12px;
    }
    &:nth-child(6) {
    position: relative;
    top: -22px;
    left: 83px;
    }
  }
  @include button(team-link, 100px, 30px, black, #ffffff);
}
@include adaptive_cards(#block-views-block-our-team-block-1);
@include line-responsive(#block-views-block-our-team-block-1);
@media (max-width: 830px) {
  #block-views-block-our-team-block-1 {
    margin-bottom: 8rem;
  }
}

