//header
@mixin size($w, $h: false) {
  @if $w {
    width: $w;
    height: $w;
  } @else {
    width: $w;
    height: $h;
  }
}
@mixin text_settings ($num, $color, $size, $l-height, $l-space: normal) {
  span {
    &:nth-child(#{$num}) {
      color: $color;
      font-size: $size;
      line-height: $l_height;
      letter-spacing: $l-space;
    }
  }
}
//
@mixin wrap ($nth: false, $background: false) {
  .featured-bottom {
    section {
      justify-content: center;
    }
  }
  @if $background {
    .featured-bottom {
      section:nth-child(#{$nth}) {
        #bckg {
          background: repeating-linear-gradient( -45deg, #dbdbdb, #ffffff 1px, #ffffff 1px, #dbdbdb 5px );
        }
      }
    }
  }
}
@mixin button ($class, $width, $height, $bckg, $text_color) {
  .#{$class} {
    width: $width;
    height: $height;
    background-color: $bckg;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: $text_color;
      text-transform: uppercase;
      font-size: 13px;
      font-style: normal;
    }
  }
}
@mixin line () {
  h2 {
    width: min-content;
    margin: -20px auto 5.7rem auto;
  }
  #line {
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    &::after, &::before {
      display: block;
      content: "";
      width: 43%;
      height: 1px;
      background-color: black;
    }
  }
}
@mixin line-responsive ($general-section-id) {
  @media (max-width: 1199px) {
    #{$general-section-id} {
      #line {
        &::after, &::before {
          width: 40%;
        }
      }
    }
  }
  @media (max-width: 767px) {
    #{$general-section-id} {
      #line {
        &::after, &::before {
          width: 36%;
        }
      }
    }
  }
  @media (max-width: 447px) {
    #{$general-section-id} {
      #line {
        &::after, &::before {
          width: 30%;
        }
      }
    }
  }
}
@mixin adaptive_cards($parent-id) {
  @media (max-width: 1290px) {
    #{$parent-id} {
      .views-col {
        width: 50%;
      }
    }
  }
  @media (max-width: 670px) {
    #{$parent-id} {
      .views-col {
        width: 100%;
      }
    }
  }
}
